a {
    text-decoration: none;
}

.navbar {
    background: rgb(248, 166, 180);
}

.hero {
    background-image: url('https://pbs.twimg.com/media/GUbl775WYAA4NFg.jpg:large');
    background-size: cover;
    background-position: center 30%;
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 8px 8px 8px black;
}

.darken-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.feature-icon {
    font-size: 3rem;
    color: #007bff;
}

.contact-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.hero-text {
    z-index: 2;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card-title {
    font-size: 0.9rem;
    font-weight: bold;
}

.card img {
    object-fit: cover;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.category-menu {
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.category-menu div {
    color: #c4c4c4; /* Default text color */
    cursor: pointer;
    padding-bottom: 10px;
    position: relative;
}

.category-menu div:hover {
    color: pink; /* Highlight hovered item */
}

.category-menu .active {
    color: pink; /* Active item color */
}

.category-menu .active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: pink;
    border-radius: 2px;
}

footer {
    background: pink;
}